
# demo with ks file via NFS
LABEL AlmaLinux89
	MENU LABEL AlmaLinux ^8.10 demo with KS file via NFS
	KERNEL images/almalinux810demo/pxeboot/vmlinuz
	APPEND initrd=images/almalinux810demo/pxeboot/initrd.img inst.ks=nfs:{{ hostname_fqdn }}:{{ distdir }}/ks/almalinux810demo-ks.cfg

