
# demo with ks file via FTP
LABEL CentOS610
	MENU LABEL CentOS ^6.10 demo with KS file via FTP
	KERNEL images/centos610demo/pxeboot/vmlinuz
	APPEND initrd=images/centos610demo/pxeboot/initrd.img ks=ftp://{{ hostname_fqdn }}/ks/centos610demo-ks.cfg
	#ksdevice=eth0

