
LABEL Fedora41
	MENU LABEL ^Fedora 41 demo
	KERNEL images/fedora41demo/pxeboot/vmlinuz
	APPEND initrd=images/fedora41demo/pxeboot/initrd.img inst.ks=ftp://{{ hostname_fqdn }}/ks/fedora41demo-ks.cfg

