
# demo with ks file via HTTP 
LABEL CentOS79
	MENU LABEL CentOS ^7.9 demo with KS file via HTTP
	KERNEL images/centos79demo/pxeboot/vmlinuz
	APPEND initrd=images/centos79demo/pxeboot/initrd.img inst.ks=http://{{ hostname_fqdn }}/ks/centos79demo-ks.cfg

