
# demo with ks file via NFS
LABEL AlmaLinux89
	MENU LABEL AlmaLinux ^8.9 demo with KS file via NFS
	KERNEL images/almalinux89demo/pxeboot/vmlinuz
	APPEND initrd=images/almalinux89demo/pxeboot/initrd.img inst.ks=nfs:{{ hostname_fqdn }}:{{ distdir }}/ks/almalinux89demo-ks.cfg

