
# demo with ks file via NFS
LABEL AlmaLinux95
	MENU LABEL AlmaLinux ^9.5 demo with KS file via NFS
	KERNEL images/almalinux95demo/pxeboot/vmlinuz
	APPEND initrd=images/almalinux95demo/pxeboot/initrd.img inst.ks=nfs:{{ hostname_fqdn }}:{{ distdir }}/ks/almalinux95demo-ks.cfg

