
# sysrescue entry
# https://www.system-rescue.org/manual/PXE_network_booting/
LABEL sysrecue
	MENU LABEL ^System Rescue, no diskinstall needed
	LINUX images/sysrescue/boot/x86_64/vmlinuz
	INITRD images/sysrescue/boot/intel_ucode.img,images/sysrescue/boot/amd_ucode.img,images/sysrescue/boot/x86_64/sysresccd.img
	APPEND archisobasedir=sysresccd archiso_http_srv=http://{{ ansible_default_ipv4.address }}/sysrescue.cdrom/ checksum
	SYSAPPEND 3

