<VirtualHost {{ hostname_fqdn }}:80>
  ServerName {{ hostname_fqdn }}
  ServerAdmin webmaster@ark-ict.nl
  DocumentRoot "{{ distdir }}"
  ErrorLog  /var/log/httpd/{{ hostname_fqdn }}-error_log
  CustomLog /var/log/httpd/{{ hostname_fqdn }}-access_log combined

  <Directory "{{ distdir }}">
    Options Indexes FollowSymLinks MultiViews
    AllowOverride All
    Require all granted
  </Directory>
</VirtualHost>

<VirtualHost {{ hostname_fqdn }}:443>
  ServerName {{ hostname_fqdn }}
  ServerAdmin webmaster@ark-ict.nl
  DocumentRoot "{{ distdir }}"
  ErrorLog  /var/log/httpd/{{ hostname_fqdn }}-error_ssl_log
  CustomLog /var/log/httpd/{{ hostname_fqdn }}-access_ssl_log combined

  SSLEngine on
  SSLCertificateFile    /etc/httpd/self.crt
  SSLCertificateKeyFile /etc/httpd/self.key

  <Directory "{{ distdir }}">
    Options Indexes FollowSymLinks MultiViews
    AllowOverride All
    Require all granted
  </Directory>
</VirtualHost>
